body {
  overflow: hidden;
  font-size: 16pt;
  font-family: "Microsoft JhengHei", Courier, monospace;
}

#statusBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto auto auto;
}

#statusBar img {
  margin-right: 3px;
}

#pet {
  height: 128px;
  width: 128px;
  color: white;
  position: absolute;
  transition-property: left;
  transition-duration: 100ms;
}

.bitDrop {
  position: absolute;
  bottom: 1100px;
  transition-property: bottom, opacity;
}

#speech {
  position: absolute;
  bottom: 133px;
  background: #b4b4b4;
  color: black;
  border: 1px solid #4c008d;
  border-radius: 3px;
  padding: 0 10px 5px;
  white-space: nowrap;
  opacity: 0;
}
